@using Project.Track.Shared.Cards
@inject HttpClient _httpClient

<h3>Cards</h3>
<hr/>
@if (_cards.Any())
{
    <table class='table'>
        <thead>
            <tr>
                <th>Title</th>
                <th>Branch Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var card in _cards)
            {
                <tr>
                    <td>@card.Title</td>
                    <td>@card.BranchName</td>
                </tr>
            }
        
            <tr>
                <td colspan='2'>
                    <a class='btn btn-primary' href='/solutions/@SolutionId/cards/add'>Add Card</a>
                </td>
            </tr>
        </tbody>
        
    </table>
}
else
{
    <a class='btn btn-primary' href='/solutions/@SolutionId/cards/add'>Add Card</a>
    
    <div class="alert alert-danger" role="alert">
        No cards to display
    </div>
}

@code {
    [Parameter]
    public string SolutionId { get; set; }

    List<GetCardModel> _cards = new();

    protected override async Task OnInitializedAsync() 
        => _cards = await _httpClient.GetFromJsonAsync<List<GetCardModel>>($"/api/v1/solutions/{SolutionId}/cards");
}