<div class="card">
  <div class="card-header">
    Backlog
  </div>
  <div class="list-group">
      
      <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">A backlog item</h5>
          <small>3 days ago</small>
        </div>
        <p class="mb-1">
          <span class="badge bg-success rounded-pill">Epic1</span>
        </p>
      </a>
      
      <a href="#" class="list-group-item list-group-item-action">
       <div class="d-flex w-100 justify-content-between">
           <h5 class="mb-1">A second backlog item</h5>
           <small>3 days ago</small>
         </div>
         <p class="mb-1">
           <span class="badge bg-success rounded-pill">Epic1</span>
         </p>
      </a>
      
      <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">A third backlog item</h5>
          <small>3 days ago</small>
        </div>
        <p class="mb-1">
          <span class="badge bg-info rounded-pill">Epic2</span>
        </p>
      </a>
    </div>
</div>