@page "/solutions"
@using Project.Track.Shared.Solutions

@inject HttpClient _httpClient;

<h1>Solutions</h1>
<a href='/solutions/add' class='btn btn-primary'>Add</a>

@if(_solutions.Any())
{
    <table class='table'>
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var solution in _solutions)
            {
                <tr>
                    <td>@solution.Name</td>
                    <td><a class='' href='/solutions/view/@solution.Id' >View</a></td>
                </tr>
            }
        
        </tbody>
    </table>
}
else
{
    <div>No Solutions to display</div>
}


@code {
    private List<GetSolutionModel> _solutions = new();

    protected override async Task OnInitializedAsync() 
        => _solutions = await _httpClient.GetFromJsonAsync<List<GetSolutionModel>>("/api/v1/solutions");
}