@page "/solutions/view/{SolutionId}"
@using Project.Track.Shared.Solutions
@inject HttpClient _httpClient;

<h3>Solution - @_solutionModel.Name</h3>
<hr />

<BranchList SolutionId='@SolutionId'/>
<hr />

<VersionList SolutionId='@SolutionId' />

@code {
    [Parameter]
    public string SolutionId { get; set; }

    GetSolutionModel _solutionModel 
        = new("-1", string.Empty);
    
    protected override async Task OnInitializedAsync() 
        => _solutionModel = await _httpClient.GetFromJsonAsync<GetSolutionModel>($"/api/v1/solutions/{SolutionId}");
}