@page "/solutions/{SolutionId}/component/add"
@using Project.Track.Shared.Components

@inject HttpClient _httpClient;
@inject NavigationManager _navigationManager;

<h3>Add Component</h3>
<hr/>

<EditForm Model="@_model" OnValidSubmit="@HandleValidSubmit" class='form'>
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <InputText id="name" class="form-control" @bind-Value="_model.Name" />
    </div>

    <button  class="btn btn-primary" type="submit">Submit</button>
</EditForm>


@code {
    [Parameter]
    public string SolutionId { get; set; }
    
    readonly ComponentModel _model = new();
    
    private async Task HandleValidSubmit()
    {
        var response = await _httpClient.PostAsJsonAsync($"/api/v1/solutions/{SolutionId}/components", _model);
        if(response.IsSuccessStatusCode)
            _navigationManager.NavigateTo($"/solutions/{SolutionId}");
    }
}